<ul>
    <% apps.each(function(app) { %>
        <li><%= app.get('name') %></li>
        <ul>
        <% app.get('tasks').each(function(task) { %>
            <li><%= task.get('name') %></li>
        <% }); %>
        </ul>
    <% }); %>
</ul>
