production:
  from: 'runciter@example.com'
  via: 'smtp'
  via_options:
    address: 'smtp.example.com'
    user_name: 'user'
    password: 'password'
    authentication: 'login'

development:
  from: 'runciter@localhost'
