@brightColor: #1BB0CE;
@h2Color: #4F8699;
@h3Color: #6A5E72;
@tableColor: #563444;
@disabledColor: #CCC;

@error: #cf1e60;
@error-bg: #F7D7D0;
@success: #63ad23;
@success-bg: #E7F4DC;

.navbar a.brand {
    color: @brightColor;
}

// Place all the styles related to the Index controller here.
.appName {
    color: @h2Color;
}

.taskName {
    color: @h3Color;
}

div.task table {
    color: @tableColor;
}

#kiosk-mode {
    float: right;
    line-height: 3.0em;
    color: @disabledColor;

    &.active {
        color: @brightColor;
    }
}

.app {
    &.ok, &.not-ok {
        h2 {
            font-size: 4.0em;
        }

        .task {
            display: none;
        }
    }

    &.ok {
        background: @success-bg;
        border-color: @success;

        h2 {
            color: @success;
        }
    }

    &.not-ok {
        background: @error-bg;
        border-color: @error;

        h2 {
            color: @error;
        }
    }
}
