@brightColor: #1BB0CE;
@h2Color: #4F8699;
@h3Color: #6A5E72;
@tableColor: #563444;

.navbar a.brand {
    color: @brightColor;
}

// Place all the styles related to the Index controller here.
.appName {
    color: @h2Color;
}

.taskName {
    color: @h3Color;
}

div.task table {
    color: @tableColor;
}
